:root {
  /* DarKMode Hex */
--darkmode-hex-light-pink: #D762D9;
--darkmode-hex-medium-pink : #B150F2;
--darkmode-hex-light-purple : #883DF2;
--darkmode-hex-dark : #282140;
--darkmode-hex-blue : #3113F2;

/* DarKMode rgba RGBA */
--darkmode-rgba-light-pink : rgba(214, 97, 216, 1);
--darkmode-rgba-medium-pink : rgba(177, 79, 242, 1);
--darkmode-rgba-light-purple : rgba(136, 60, 242, 1);
--darkmode-rgba-dark : rgba(39, 33, 63, 1);
--darkmode-rgba-blue : rgba(49, 19, 242, 1);

  /* Color Theme Light Mode */
  --darkmode-hex-light-pink: #D762D9;
  --darkmode-hex-medium-pink : #B150F2;
  --darkmode-hex-light-purple : #883DF2;
  --darkmode-hex-dark : #282140;
  --darkmode-hex-blue : #3113F2;

}

/* Omnium Light
font-family: omnium, sans-serif;
font-weight: 300;
font-style: normal;

Omnium Bold
font-family: omnium, sans-serif;
font-weight: 700;
font-style: normal;

Omnium Wide Light
font-family: omnium-wide, sans-serif;
font-weight: 300;
font-style: normal;

Omnium Wide Bold
font-family: omnium-wide, sans-serif;
font-weight: 700;
font-style: normal; */

html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 20px;
}

.accent {
  color: var(--darkmode-hex-light-pink);
  display: block;
}

body {
  background-color: black;
  color: white;
  padding: 1rem;
  font-family: omnium, sans-serif;
  font-weight: 300;
  font-style: normal;
}

button {
  padding: 1rem 2rem;
  text-transform: uppercase;
  background-color: var(--darkmode-hex-dark);
  border: solid 2px var(--darkmode-hex-light-purple);
  color: white;
  margin-left: auto;
  border-radius: 10px;
}

.container--buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container--dark-mode {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.container--input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.container--outer {
  width: 50%;
  height: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-content: center;
  border: solid 10px var(--darkmode-hex-light-purple);
  border-radius: 10px;
}

.container--results {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
}

h1 {
  font-family: omnium-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  color: var(--darkmode-hex-light-purple)
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

label[type=text] {
  padding: 1rem 0rem;
  font-size: 1rem;
}

input[type=text] {
  background-color: var(--darkmode-hex-dark);
  border: solid 2px var(--darkmode-hex-light-purple);
  padding: .75rem 1rem;
  color: white;
  font-size: 1rem;
  width: 22.7%;
}

.margin-spacing {
  margin-bottom: 2.5rem;
}

.margin-bottom-decoration {
  border-bottom: 2px solid var(--darkmode-hex-dark);
  padding-bottom: 2rem;
}

p {
  padding: 0px;
  margin: 0px;
}

textarea {
  display: block;
  resize: none;
  box-shadow: none;
  border: none;
  overflow: auto;
  width: 40%;
  font-size: 1rem;
  padding: .75rem 1rem;
  background-color: var(--darkmode-hex-dark);
  margin-bottom: 1rem;
  color: white;
}