/* ======================================= Variables ======================================= */

:root {
  /* DarKMode Hex */
  --darkmode-hex-light-pink: #d762d9;
  --darkmode-hex-medium-pink: #b150f2;
  --darkmode-hex-light-purple: #883df2;
  --darkmode-hex-dark: #282140;
  --darkmode-hex-blue: #3113f2;

  /* DarKMode rgba RGBA */
  --darkmode-rgba-light-pink: rgba(214, 97, 216, 1);
  --darkmode-rgba-medium-pink: rgba(177, 79, 242, 1);
  --darkmode-rgba-light-purple: rgba(136, 60, 242, 1);
  --darkmode-rgba-dark: rgba(39, 33, 63, 1);
  --darkmode-rgba-blue: rgba(49, 19, 242, 1);

  /* Color Theme Light Mode */
  --darkmode-hex-light-pink: #d762d9;
  --darkmode-hex-medium-pink: #b150f2;
  --darkmode-hex-light-purple: #883df2;
  --darkmode-hex-dark: #282140;
  --darkmode-hex-blue: #3113f2;
}

/* ======================================= Normalizing ======================================= */

* {
  margin: 0px;
  padding: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  transition: 500ms;
}

/* ======================================= Elements ======================================= */

body {
  background-color: black;
  color: white;
  font-family: omnium, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  min-height: 100vh;
  padding: 1rem;
  transition: 500ms;
}

button {
  background-color: var(--darkmode-hex-dark);
  border: solid 2px var(--darkmode-hex-light-purple);
  border-radius: 10px;
  color: white;
  margin-left: auto;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

h1 {
  color: var(--darkmode-hex-light-purple);
  font-family: omnium-wide, sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

label[type="text"] {
  font-size: 1rem;
  padding: 1rem 0rem;
}

input[type="text"] {
  background-color: var(--darkmode-hex-dark);
  border: solid 2px var(--darkmode-hex-light-purple);
  color: white;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  width: 22.7%;
}

p {
  margin: 0px;
  padding: 0px;
}

textarea {
  background-color: var(--darkmode-hex-dark);
  border: none;
  box-shadow: none;
  color: white;
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
  overflow: auto;
  padding: 0.75rem 1rem;
  resize: none;
  transition: 500ms;
  width: 40%;
}

/* ======================================= Classes ======================================= */

.accent {
  color: var(--darkmode-hex-light-pink);
  display: block;
}

.container--buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container--dark-mode {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  transition: 500ms;
}

.container--input {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container--outer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  align-content: center;
  border: solid 10px var(--darkmode-hex-light-purple);
  border-radius: 10px;
  transition: 500ms;
}

.container--results {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
}

.italic {
  color: var(--darkmode-hex-light-pink);
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 900;
  margin-top: 15px;
  margin-left: 1rem;
}

.margin-bottom-decoration {
  border-bottom: 2px solid var(--darkmode-hex-dark);
  padding-bottom: 2rem;
}

.margin-spacing {
  margin-bottom: 2.5rem;
}

.medium-spacing {
  margin-bottom: 1.25rem;
}


/* ======================================= MEDIA QUERIES ======================================= */

@media screen and (max-height: 730px) and (orientation: landscape) {
  p {
    display: none;
  }

  li {
    display: none;
  }

  body {
    background-color: black;
    color: white;
    font-family: omnium, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    height: 100vh;
    padding: 1rem;
  }

  .margin-spacing {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1rem;
  }

  .margin-spacing {
    margin-bottom: 0px;
  }

  textarea {
    background-color: var(--darkmode-hex-dark);
    border: none;
    box-shadow: none;
    color: white;
    display: block;
    font-size: 1rem;
    margin-bottom: 0rem;
    overflow: auto;
    padding: 0rem;
    resize: none;
    width: 40%;
  }
}


@media screen and (max-width: 450px) {

  html {
    font-size: 16px;
  }

  .container--results {
    display: block;
  }

  textarea {
    background-color: var(--darkmode-hex-dark);
    border: none;
    box-shadow: none;
    color: white;
    display: block;
    font-size: 1rem;
    margin-bottom: 1rem;
    overflow: auto;
    padding: 0.5rem 1rem;
    resize: none;
    width: 100%;
  }

  .container--outer {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    border: solid 10px var(--darkmode-hex-light-purple);
    border-radius: 10px;
  }
}



@media screen and (min-width: 400px) and (orientation: landscape) {
  body {
    background-color: black;
    color: white;
    font-family: omnium, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    height: 100vh;
    padding: 1rem;
  }
  
  .container--dark-mode {
    display: block;
    flex-direction: row;
    padding: 1rem 2rem;
    width: 90%;
  }

  .container--outer {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
    align-content: center;
    border: solid 10px var(--darkmode-hex-light-purple);
    border-radius: 10px;
  }
}


  
